SUPABASE_URL=
SUPABASE_ANON_KEY=

API_BASE_URL=

REVENUE_CAT_API_KEY=

APPLE_TEAM_ID=
KEY_ID=

GOOGLE_OAUTH_WEB_CLIENT_ID=
GOOGLE_OAUTH_WEB_CLIENT_SECRET=
GOOGLE_OAUTH_IOS_CLIENT_ID=                       